<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h1 class="aboutus-title">Historia</h1>
                        <p class="aboutus-text">La creación de la Escuela de idiomas del Ejército nació de la necesidad de contar con un gran efectivo de personal que posea conocimiento de uno o más idiomas extranjeros, debido a que existía la posibilidad de becar personal de las diferentes especialidades y armas a realizar cursos en el exterior. El año 1990, el Cap. Com. José Antonio Agrega Mendivil presentó el Proyecto de Creación del Centro de Idiomas del Ejército - que iría a depender del Comando de Institutos Militares - el mismo que contemplaba alternativas de cooperación técnica y de capacitación en conocimiento  de los idiomas: inglés, francés y alemán.</p>
                        <p class="aboutus-text">Para la organización y funcionamiento del Centro de Idiomas del Ejército se contempló una Dirección y los siguientes Departamentos: Planificación Académica, Evaluación, Cuerpo Docente, Biblioteca y Servicios.</p>
                        <p class="aboutus-text">Mediante Directiva No. 52/90, se convocó a la III Reunión Académica de Comandantes de II. MM. del Ejército, llevada a cabo del 23 al 27 de julio de 1990. El 25 de julio, el Sr. Gral. Renán Reque Zabalegui expuso los antecedentes para la creación del Centro de Idiomas del Ejército, y el mismo día, al  término de la reunión, se resolvió aprobar el Proyecto de la Creación del Centro de Idiomas del Ejército bajo la modalidad de Escuela de Idiomas del Ejército.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="https://eie-cbb.clases.digital/pluginfile.php/1/core_admin/logocompact/300x300/1657723596/logo2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h1 class="aboutus-title">Valores</h1>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Misión</h4>
                                    <p>LA ESCUELA DE IDIOMAS DEL EJÉRCITO, PLANIFICARÁ, COORDINARÁ Y DESARROLLARÁ EL SISTEMA DE ENSEÑANZA, APRENDIZAJE DE IDIOMAS EXTRANJEROS Y NATIVOS EN SUS DIVERSAS FILIALES Y SUCURSALES DEL TERRITORIO NACIONAL PARA CAPACITAR A LOS RECURSOS HUMANOS DEL EJÉRCITO Y PERSONAL CIVIL EN EL MANEJO DE LAS LENGUAS CON ELEVADO NIVEL DE DOMINIO, A FIN DE CONTRIBUIR AL CUMPLIMIENTO DE LA MISIÓN DEL COMANDO DE INSTITUTOS MILITARES DEL EJÉRCITO EN EL CAMPO DE LA EDUCACIÓN.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Visión</h4>
                                    <p>CONSTITUIR EL CENTRO LÍDER EN LA  CAPACITACIÓN DE RECURSOS HUMANOS DEL EJERCITO EN IDIOMAS EXTRANJEROS Y NATIVOS A NIVEL NACIONAL, LOGRANDO LA EXCELENCIA ACADÉMICA DEL PERSONAL MILITAR Y CIVIL EN EL SISTEMA DE ENSEÑANZA Y  APRENDIZAJE QUE PERMITA INCREMENTAR LA EFICIENCIA Y COMPETITIVIDAD EN EL DESARROLLO DE SUS FUNCIONES EN EL ÁMBITO NACIONAL  E INTERNACIONAL CON UN ALTO GRADO DE RESPONSABILIDAD, DIGNIDAD Y LIDERAZGO.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-inteligencia-competitiva_114360-7297.jpg?w=360 " alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>