<br>
<div class="row justify-content-center text-center">
    <div class="col-8">
        <h1>CURSO NIVEL REGULAR</h1>
        <hr>
      <p class="lead">La Escuela de Idiomas del Ejército ofrece cursos de diversos niveles para poder adaptarse al nivel de aprendizaje para cada estudiante. El curso nivel regular consta del avance y aprendizaje de 24 libros en el lapso de 2 años. El tiempo de avance de cada libro consta de 2 semanas, luego se realizará un examen del libro para concluir con la misma y avanzar al siguiente libro. Las clases de este nivel tienen un tiempo de duracion de 2 horas, y ofrece diferentes horarios disponibles para la mañana, tarde y noche. 
      </p>
    </div>
  </div>
  <br>

  <div class="row justify-content-center text-center">
    <div class="col-8">
        <h2>REQUISITOS DE INSCRIPCIÓN</h2>
        <hr>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center">GENERALES</th>
        <th scope="col" class="text-center">TÉCNICO SUPERIOR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Fotocopia de carnet de Identidad del estudiante y padres de familia o tutor</td>
        <td>1. Fotocopia del carnet de Identidad del estudiante y padres de familia o tutor</td>
      </tr>
      <tr>
        <td>2. Para el Personal Militar y/o Familiares 1er Grado Fotocopia del Carnet de Cossmil</td>
        <td>2. Fotocopia Legaliazado del Titulo de Bachiller</td>
      </tr>
      <tr>
        <td>3. Alumnos de la EMI. Certificado de notas Ultimo semestre debidamente legalizado</td>
        <td>3. Para el Personal Militar y/o Familiares 1er Grado Fotocopia del Carnet de Cossmil</td>
      </tr>
      <tr>
        <td>4. Fotocopia de Certificado de Nacimiento Actualizado</td>
        <td>4. Alumnos de la EMI. Certificado de notas Ultimo semestre debidamente legalizado</td>
      </tr>
      <tr>
        <td></td>
        <td>5. Fotocopia del Certificado de Nacimiento Actualizado</td>
      </tr>
    </tbody>
  </table>
<br>
<div class="row justify-content-center text-center">
  <div class="col-8">
      <h2>HORARIOS DE CLASES</h2>
      <hr>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-center">MAÑANA</th>
      <th scope="col" class="text-center">TARDE</th>
      <th scope="col" class="text-center">NOCHE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">07:30am HASTA 09:30am</td>
      <td class="text-center">14:00am HASTA 16:00am</td>
      <td class="text-center">19:30am HASTA 21:30am</td>
    </tr>
    <tr>
      <td class="text-center">10:00am HASTA 12:00am</td>
      <td class="text-center">17:00am HASTA 19:00am</td>
    </tr>
    
  </tbody>
</table>
<br>

<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="https://simg.nicepng.com/png/small/506-5062633_anthony-v-bova-una-persona-con-traje.png">
    </div>
    <div class="contentBx">
      <h2>Juan Perez</h2>
      <br>
      <div class="size">
        <h3>Edad:   24</h3>
      </div>
      <br>
      <div class="size">
        <h3>Idiomas: Ingles, Frances</h3>
      </div>
      <br>
      <div class="size">
        <h3>Horarios: Mañana, Tarde</h3>
      </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="card">
    <div class="imgBx">
      <img src="https://png.pngitem.com/pimgs/s/248-2488932_mfoley-business-development-manager-person-hd-png-download.png">
    </div>
    <div class="contentBx">
      <h2>Marco Quisbert</h2>
      <br>
      <div class="size">
        <h3>Edad:   22</h3>
      </div>
      <br>
      <div class="size">
        <h3>Idiomas: Ingles, Portugues</h3>
      </div>
      <br>
      <div class="size">
        <h3>Horarios: Mañana, Tarde, Noche</h3>
      </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="card">
    <div class="imgBx">
      <img src="https://img.freepik.com/foto-gratis/retrato-hombre-blanco-aislado_53876-40306.jpg?w=2000">
    </div>
    <div class="contentBx">
      <h2>Limber Sirpa</h2>
      <br>
      <div class="size">
        <h3>Edad:   30</h3>
      </div>
      <br>
      <div class="size">
        <h3>Idiomas: Ingles, Chino</h3>
      </div>
      <br>
      <div class="size">
        <h3>Horarios: Mañana, Noche</h3>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="https://static7.depositphotos.com/1024916/785/i/450/depositphotos_7854131-stock-photo-portrait-of-a-grandfather.jpg">
    </div>
    <div class="contentBx">
      <h2>Ramiro Paredes</h2>
      <br>
      <div class="size">
        <h3>Edad:   58</h3>
      </div>
      <br>
      <div class="size">
        <h3>Idiomas: Ingles, Frances</h3>
      </div>
      <br>
      <div class="size">
        <h3>Horarios: Tarde, Noche</h3>
      </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="card">
    <div class="imgBx">
      <img src="https://thumbs.dreamstime.com/b/cara-de-una-mujer-mayor-del-frente-opini%C3%B3n-frontal-sonriente-la-139360197.jpg">
    </div>
    <div class="contentBx">
      <h2>Maria Alanoca</h2>
      <br>
      <div class="size">
        <h3>Edad:   42</h3>
      </div>
      <br>
      <div class="size">
        <h3>Idiomas: Portugues, Frances</h3>
      </div>
      <br>
      <div class="size">
        <h3>Horarios: Mañana, Tarde, Noche</h3>
      </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="card">
    <div class="imgBx">
      <img src="https://www.equiposytalento.com/contenido/nombramientos/RubMillDirectorPersonasrganizaciCRGrupo.jpg">
    </div>
    <div class="contentBx">
      <h2>Marcelo Romero</h2>
      <br>
      <div class="size">
        <h3>Edad:   36</h3>
      </div>
      <br>
      <div class="size">
        <h3>Idiomas: Ingles, Frances, Portugues</h3>
      </div>
      <br>
      <div class="size">
        <h3>Horarios: Mañana, Tarde</h3>
      </div>
    </div>
  </div>
</div>
<br>
