
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="http://190.181.21.134/idiomas/new/es/img/5.jpg" class="d-block w-100" alt="image_1">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="http://190.181.21.134/idiomas/new/es/img/1.jpg" class="d-block w-100" alt="image_2">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="http://190.181.21.134/idiomas/new/es/img/3.jpg" class="d-block w-100" alt="image_3">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br><br>
  <div class="row justify-content-center text-center">
    <div class="col-8">
        <h2>INSTITO TECNICO DE IDIOMAS DEL EJERCITO</h2>
        <h5>The limits of my language are the limits of my world</h5>
    </div>
    <hr>
  </div>

  <div class="container-fluid contenedor text-center">
    <div class=" container text-center">
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container_foto ">
          <div class="ver_mas text-center">
             <span  class="lnr lnr-eye"></span>
          </div>
          <article class="text-left">
             <h2>CLASES MODALIDAD <br>VIRTUAL</h2>
             <h4>Clases a distancia a travez de la plataforma Teams en diversos horarios</h4>
          </article>
          <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-plataforma-escuela-linea-educacion-hogar-plataforma-educacion-linea-clases-digitales-cursos-virtuales-lms-escuela_335657-3486.jpg?w=2000" alt="">
       </div>
    </div>
    <div class=" container text-center">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container_foto ">
           <div class="ver_mas text-center">
              <span  class="lnr lnr-eye"></span>
           </div>
           <article class="text-left">
              <h2>POSIBILIDAD DE <br>PASANTIA DE TURISMO</h2>
              <h4>Pasantias de turismo disponibles para estudiantes egresados</h4>
           </article>
           <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-guia-turistico_114360-2002.jpg?w=2000" alt="">
        </div>
     </div>
     <div class=" container text-center">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container_foto ">
           <div class="ver_mas text-center">
              <span  class="lnr lnr-eye"></span>
           </div>
           <article class="text-left">
              <h2>APRENDE MULTIPLES<br>IDIOMAS</h2>
              <h4>Aprendizaje de multiples idiomas con docentes especialiados en los lenguajes: Ingles, Frances, Chino Mandarin, etc.</h4>
           </article>
           <img src="https://img.freepik.com/vector-gratis/gente-hablando-diferentes-idiomas-diseno-plano_23-2147863067.jpg?w=2000" alt="">
        </div>
     </div>
 </div>
<div class="row justify-content-center text-center">
    <div class="col-8">
        <h4>PORQUE ESTUDIAR EN LA ITIE</h4>
      <p class="lead">La Escuela de Idiomas del Ejército, interpretando la realidad actual de nuestro país, se constituye en el instrumento más adecuado e idóneo que garantiza la enseñanza de diferentes idiomas, nativos y extranjeros a los SS. OO. SOFS., SGTOS, Empleados civiles, Soldados, Familiares del Personal Militar componente de las FF.AA. y público en general, con un alto grado de excelencia, dotándoles de los instrumentos necesarios que les permita afrontar los desafíos que impone un mundo altamente competitivo en los idiomas.
        Asimismo, la Escuela de Idiomas del Ejército, dispone de modernos laboratorios con cabinas individuales para la enseñanza de los diferentes Idiomas, incluyendo un laboratorio interactivo (computarizado). El personal docente del Instituto está compuesto por Profesores graduados del Curso Básico y Avanzado de Instructores del Idioma Inglés en la Base Aérea de “Lackland” Texas – EE.UU, docentes del Centro de Enseñanza y Traducción de Idiomas, dependiente de la Universidad Mayor de San Andrés (CETI), profesores del Centro de Idiomas INEDJENA (Brasil), características que hacen que el Instituto se sitúe en un lugar privilegiado en la enseñanza de los idiomas Inglés, Francés, Portugués, Chino Mandarín y Aymará.
      </p>
    </div>
  </div>
  <BR>

    <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col">
            <iframe src="http://www.youtube.com/embed/j4hyD8WxPqQ" width="500" height="400" frameborder="0" class="youtube-player Estilo1" type="text/html" allowfullscreen ></iframe>    
          </div>
          <div class="col">
            <iframe src="http://www.youtube.com/embed/KNHgf-yVSOw" width="500" height="400" frameborder="0" class="youtube-player Estilo1" type="text/html" allowfullscreen ></iframe>
          </div>
        </div>
      </div>
      <br>
    