<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
  <div class="wrapper">
    
  </div>
  <div class="container-fluid all-show">
    <img class="mr-sm-2 logo" src="https://eie-cbb.clases.digital/pluginfile.php/1/core_admin/logocompact/300x300/1657723596/logo2.png">
    <a class="navbar-brand" href="#">ITIE <i class="fa fa-codepen"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/index" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Programas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/regular" routerLinkActive="active-link">Regular</a></li>
            <li><a class="dropdown-item" routerLink="/intensivo" routerLinkActive="active-link">Intensivo</a></li>
            <li><a class="dropdown-item" routerLink="/infantil" routerLinkActive="active-link">Infantil</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://190.181.21.134/idiomas/new/es/costos.pdf" target="_blank">Costos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros" routerLinkActive="active-link">Sobre Nosotros</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/inscripcion" routerLinkActive="active-link">Inscripcion</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sistema
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/estudiantes" routerLinkActive="active-link">Estudiantes</a></li>
            <li><a class="dropdown-item" routerLink="/docentes" routerLinkActive="active-link">Docentes</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/noticias" routerLinkActive="active-link">Noticias</a>
        </li>
      
      
      </ul>
      <div class="d-flex flex-column sim">
      
      </div>
    </div>
  </div>
</nav>
